/* @author Marina Shchukina, 1014481 */

#textbooksApp-courses, #textbooksApp-years, 
#textbooksApp-modules, #textbooksApp-books {
	@include wrapper;
	.innerWrapper {
		@include innerWrapper;
		margin-top: 75px;
		.tableTitle {
			margin-left: 14px;
		}
	}

}
#textbooksApp-years {
	.databaseResults {
		margin: 40px 16px 40px;
		width: 320px;
	}
}