/* @author Marina Shchukina, 1014481 */

#textbooksApp-main {
	@include wrapper;

	/* Keyword search */
	.keywordSearch {	
		width: 145px;
		position: absolute;
		top: 55px;
		left: 8px;
		-webkit-appearance: none;

	}

	/* Login, authorized access */
	.auth {
		width: 160px;
		position: absolute;
		top: 55px;
		right: 8px;
		-webkit-appearance: none;
	}
	.auth__signin {
		width: 100%;
		display: block;
		margin-bottom: 8px;
	}

	.description {
		font-family: 'Helvetica';
		width: 95%;
		margin: 16px auto;
	}

	/* Logout */
	.logout {
		position: absolute;
		right: 16px;
		top: 42px;
	}
	.logout__title {
		font-size: 1.2em;
		font-weight: normal;
		text-align: right;
	}
	.logout__btn {
		float: right;
	}
	
	/* Inner wrapper */
	.innerWrapper {
		@include innerWrapper;
	}
	.title {
	    font-family: Helvetica;
	    font-size: 1.9em;
	    margin: 0 auto 16px;
	    width: 541px;
	}
	.subtitle {
		width: 300px;
		margin: 0 auto;
	}

	/* Choices */
	.choices {
		width: 95%;
		margin: 87px auto;
		height: 102px;
	}
	.choices-option {
		float: left;
		width: 29%;
		label {
			height: 1em;
			padding: 0 !important;
			margin-left: 16px;
			font-size: 1.154em;
			float: none;
			width: 40px;
		}
	}
	.choices__browse {
		width: 5%;
		float: left;
		height: 44px;
		margin-top: 28px;
		background: url("#{$imgpath}search.png") top left no-repeat;
	}

}