$font-stack: 'Arial, Helvetica';
$imgpath :'../img/';

/* Mixins */
@mixin reset {
	margin: 0;
	padding: 0;
	border: 0;
}
@mixin wrapper {
	width: 976px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background-color: #FFF;
}
@mixin innerWrapper {
	margin: 190px 16px 0;
	overflow: hidden;
}

/* General styles */
a {
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.btn {
	font: bold 1.769em/1em Arial;
	color: #505050;
	text-decoration: none;
	&:hover {
		cursor: pointer;
		color: #666666;
		text-decoration: none;

	}
}
.btn-small {
	&:hover {
		cursor: pointer;
		color: #5D7B93;
		text-decoration: none;		
		
	}

}
.btn-extras {

    color: #EEE;
    background-clip: border-box;
    background-position: left bottom, right top, 0 0px, 0 0;
    background-repeat: no-repeat;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 1px #FFFFFF inset;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    transition: background-position 1s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
    font-size: 1.2em;
    background-color: #A9ADB1;
    background-image: url("#{$imgpath}button_bg.png"), url("#{$imgpath}button_bg.png"), radial-gradient(circle at center bottom , #C5C7CA 0px, rgba(197, 199, 202, 0) 100px), linear-gradient(#C5C7CA, #92989C);
    border: 1px solid #A5A5A5 !important;
    color: #003399!important;
    font-weight: bold;
    float: left;
    margin-left: 16px;

    &:hover {
    	background-color: #B6BBC0;
    background-image: url("#{$imgpath}button_bg.png"), url("#{$imgpath}button_bg.png"), radial-gradient(circle at center bottom , #CACDD0 0px, rgba(202, 205, 208, 0) 100px), linear-gradient(#D1D3D6, #9FA5A9);
    }
    &:visited {
	    border-bottom: 1px dotted #97CAE6;
	    color: #97CAE6;
	    outline: medium none;
	    text-decoration: none;
    }
}
fieldset {
	border: none medium;
}
input {
	font: normal 1em/1em $font-stack;
	height: 1.2em;
	padding: 0.616em 0.3em 0.616em 0.616em;
	margin-bottom: 12px;
	border: 1px solid #CCCCCC;
}
.choices__select {
	height: 3.8em;
	width: 16em;
	float: left;
	outline: medium none;
	overflow: hidden;
	padding: 1.1em 0 0 1em;
}
.select {
	position: relative;
}
.select:after {
	background: none repeat scroll 0 0 white;
	border-left: 1px solid #CCCCCC;
	border-radius: 0 0 0 0;
	bottom: 0.11em;
	color: black;
	content: url("#{$imgpath}dropdown-arrow.png");
	cursor: pointer;
	line-height: 1.59em;
	padding: 0.44em 0.616em;
	pointer-events: none;
	position: absolute;
	right: 0.09em;
	top: 0.3em;
}
select {
	background: none repeat scroll 0 0 #FFFFFF;
	cursor: pointer;
	font-size: 1em;
	margin: 0;
	padding: 0.7em 0.3em 0.616em 0.616em;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 0 0 0 0;
	display: inline-block;
	-webkit-appearance: none;
}
.back {
	position: absolute;
	top: 25px;
	left: 16px;
}
	.databaseResults {
		background: url("#{$imgpath}pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		border-collapse: collapse;
		font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
		margin: 40px auto;
		text-align: left;
		width: 915px;
		thead tr {
			background: url('#{$imgpath}pattern-head.png');
		}
		tr:hover td {
			color: #339;
			background: #fff;
		}
		th {
			font-size: 1.1em;
			font-weight: normal;
			padding: 8px;
			border-bottom: 1px solid #fff;
			color: #039;
		}
		td {
			border-bottom: 1px solid #FFFFFF;
			border-top: 1px solid rgba(0, 0, 0, 0);
			color: #666699;
			padding: 8px;
			a {
				color: #666699;
				&:visited {
					color: #666699;
				}
			}
		}
		th.wide, td.wide {
			width: 40%;
		}
		th.medium, td.medium {
			width: 40%;
		}
	}

.footer {
	margin: 16px;
	.footer__copyright {
		margin-bottom: 8px;
	}
}